
@import "./styles/mixins.scss";
//- Color Variables
$start: #9be872;
$start-light:  #ccf443 ;
$reset:  #FF5733;
$reset-light: #f66d41;
$reset-focus: #ff381c;
$restart: #ccf443;
$restart-light: #d1f84b;
$pause: #ffdc2d;
$pause-light: #ffdc2d;

//- Animation Variables
$defaultAni: cubic-bezier(0.84, .01, 0.19, .93);

//- Styles

body {
  margin: 25px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#barchart {
  width: 75vw;
  height: 90vh;
  background-color: whitesmoke;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bar {
  background-color: orange;
  margin: 10px;
  width: 100px;
}